<strong>
  Olá {{ provider }},
</strong>
<p>Você recebeu mais uma inscrição para o meetup de {{date}}</p><br>
<p>dados do usuário: </p> <br>
<strong>{{user}}</strong>
<small>Constinue movimentando a cena de sua cidade</small>
